<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= image_tag('logo.png', width: "30", height:"30", class: "d-inline-block align-top", alt:"") %>
    Dashborard
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= render 'layouts/user_nav' if current_user.present? %>
  <div class="navbar-collapse collapse order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if current_user.present? %>
          <%= link_to current_user.email, destroy_user_session_path, method: :delete, class: "nav-link", data: {confirm: 'Logout. Are you sure?'} %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
        <% end %>


      </li>
    </ul>
  </div>
</nav>