<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Element
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% available_categories.each do |category| %>
          <%= link_to "Category ##{category}", dashboard_path(category: category.downcase), method: :post, remote: true, class: 'dropdown-item' %>
        <% end %>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Reset</a>
    </li>
  </ul>
</div>